.navbar {
  display: flex;
  background-color: rgba(162, 170, 241, 0.7);
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 30px;
  border-radius: 20px;
}

.user-icon {
  display: flex;
  align-items: center;
}

#username {
  color: #2f3a9f;
  font-family: sans-serif;
  font-weight: bold;
}

.pages {
  display: flex;
  font-family: sans-serif;
  font-weight: bold;
}

.pages li {
  margin: 8px;
  background-color: white;
  padding: 7px 12px;
  border-radius: 20px;
  box-shadow: 0 2px 3px 0 rgba(107, 106, 106, 0.5);
}

.pages li a {
  color: rgb(18, 152, 255);
  text-decoration: none;
}

.pages li a:active {
  color: red !important;
}

#logo {
  width: 120px;
  height: 40px;
  margin-left: 50px;
  filter: drop-shadow(0px 2px 2px rgba(83, 83, 84, 0.6));
}

#person-icon {
  width: 50px;
  margin-right: 50px;
  margin-left: 5px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  margin: 0 50px 40px 50px;
  font-family: "poppins";
  align-items: center;
}

.clock {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: small;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 20px;
  color: rgb(84, 100, 247);
}

#clock {
  padding: 10px 15px;
  background-color: rgba(255, 221, 83, 0.5);
  border-radius: 20px;
  font-family: monospace;
  font-size: medium;
}

.container-title {
  display: inline-block;
  font-family: "poppins";
  background-color: #ffdd53;
  margin: 0 0 20px 50px;
  padding: 10px 20px;
  border-radius: 20px;
}

.tasks-container {
  background-color: rgba(255, 241, 185, 0.5);
  margin: 0px 40px 20px 40px;
  padding: 20px;
  border-radius: 20px;
}

.task-container-headers {
  display: flex;
  justify-content: space-between;
}

.tasks-container h3 {
  padding: 10px 20px;
  margin: 0 0 10px 5px;
  font-family: "poppins";
  border-radius: 20px;
  font-size: 15px;
  color: white;
  background-color: #a1a9f1;
  align-self: center;
}

.add-tasks {
  width: 40px;
  margin-bottom: 20px;
}

.add-tasks:hover {
  cursor: pointer;
}

.tasks-headers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.tasks-headers h4 {
  background-color: #ffdd53;
  border-radius: 20px;
  font-family: "poppins";
  margin-left: -100px;
}

.tasks-headers h4:first-child {
  padding: 10px 200px;
  margin-right: -200px;
}

.tasks-headers h4:nth-child(2) {
  padding: 10px 80px;
}

.tasks-headers h4:nth-child(3) {
  padding: 10px 150px;
  margin-left: -300px;
}

.task-item {
  font-family: Arial, Helvetica, sans-serif;
  width: 99%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: -8px;
  border-radius: 15px;
  padding: 5px 15px;
}

.task-title {
  display: flex;
  align-items: first baseline;
  width: 350px;

  margin-left: 100px;
  line-height: 1.3;
}

.task-title input {
  margin-right: 8px;
}

.task-title input:hover {
  cursor: pointer;
}

.task-title input::before {
  content: "";
  width: 13px;
  height: 13px;
  position: absolute;
  background-color: rgba(161, 169, 241, 0.5);
}

.task-title span {
  margin-bottom: 8px;
}

.time {
  width: 150px;
  margin-left: 40px;
  text-align: center;
  line-height: 1.5;
}

.note {
  width: 300px;
  text-align: center;
  line-height: 1.5;
}

.note-bubble {
  display: none;
  width: 30px;
}

.delete {
  background-color: #a1a9f1;
  color: white;
  margin-right: 20px;
  padding: 5px 15px;
  border-radius: 20px;
}

.delete:hover {
  cursor: pointer;
}

.task-item:nth-child(even) {
  background-color: #fffef1;
  height: auto;
}

.new-list {
  text-align: center;
}

.new-list button {
  font-family: "poppins";
  padding: 5px 30px;
  border-radius: 20px;
  border-style: none;
  background-color: #ffdd53;
  font-size: 15px;
}

.modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(182, 182, 182);
  background-color: rgba(0, 0, 0, 0.4);
}

.addtask-modal {
  margin: 180px 300px;
  background-color: rgb(255, 240, 181);
  border-radius: 20px;
  overflow: hidden;
}

.addtask-modal form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
}

.addtask-modal label {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.addtask-modal input {
  text-align: start;
  padding: 0 15px;
}

.addtask-modal input::placeholder {
  padding-left: 10px;
}

#task {
  height: 50px;
  border-radius: 10px;
  border: none;
}

#time {
  display: flex;

  gap: 20px;
  align-items: center;
  margin: 10px 0;
}

#time #start-time {
  border-radius: 10px;
  border: none;
  padding: 10px;
  width: 100px;
}

#time #end-time {
  border-radius: 10px;
  border: none;
  padding: 10px;
  width: 100px;
}

#time label {
  text-align: center;
}

#note {
  height: 50px;
  border-radius: 10px;
  border: none;
}

.addtask-modal button {
  width: 150px;
  align-self: center;
  margin-top: 15px;
  background-color: #a1a9f1;
  padding: 5px 20px;
  text-align: center;
  border: none;
  border-radius: 20px;
  font-family: "poppins";
  font-size: 16px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  background-color: #a1a9f1;
  width: 100%;
  font-family: "poppins";
}

.modal-header h2 {
  padding: 20px;
}

.modal-header span {
  width: 20px;
  height: 20px;
  margin: 12px 10px 0 0;
}

.modal-header span:hover {
  cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .pages {
    display: none;
    flex-direction: column;
  }

  .navbar {
    display: flex;
    background-color: rgba(162, 170, 241, 0.7);
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    border-radius: 0;
    height: 150px;
  }

  #logo {
    display: none;
  }

  .user-icon {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
  }

  #person-icon {
    width: 80px;
    margin-right: 0px;
    margin-left: 0px;
  }

  #greeting-msg {
    display: none;
  }

  .page-header {
    justify-content: end;
    margin-top: 10px;
  }

  .container-title {
    text-align: center;

    margin: 0 0 20px 20px;
    padding: 10px 20px;
    border-radius: 20px;
  }

  .clock {
    margin-right: -60px;
  }

  .tasks-container {
    padding: 10px 5px;
    margin: 0 10px 0 10px;
  }

  .tasks-headers {
    display: none;
  }

  .task-item {
    margin-top: 20px;
    width: 96%;
    flex-wrap: wrap;
    gap: 0px;
    position: relative;
  }

  .task-title {
    width: 230px;
    margin-left: 0px;
  }

  .delete {
    position: absolute;
    top: 3px;
    right: -15px;
  }

  .time {
    align-self: first baseline;
    width: fit-content;
    position: absolute;
    top: 3px;
    right: 100px;
    color: #2f3a9f;
  }

  .note {
    width: 230px;
    position: relative;
    text-align: start;
    top: 0;
    left: 25px;
    color: red;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .user-icon {
    display: none;
  }

  #logo {
    margin-left: 10px;
  }

  .pages {
    margin-right: 10px;
  }

  .clock {
    margin-right: -25px;
  }

  .container-title {
    margin-left: 40%;
  }

  .tasks-headers {
    display: none;
  }

  .task-item {
    margin-top: 20px;
    width: 96%;
    flex-wrap: wrap;
    gap: 0px;
    position: relative;
  }

  .task-title {
    width: 250px;
    margin-left: 0px;
  }

  .delete {
    position: absolute;
    top: 3px;
    right: -15px;
  }

  .time {
    align-self: first baseline;
    width: fit-content;
    position: absolute;
    top: 3px;
    right: 110px;
  }

  .note {
    text-align: start;
    width: 300px;
    margin-left: 25px;
    color: red;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  ...;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  ...;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  ...;
}
