.login-container {
  display: flex;
}

.zigzag-right {
  width: 60%;
  position: absolute;
  right: -75px;
  top: -10px;
  z-index: 0;
}

.zigzag-right img {
  width: 800px;
  height: 750px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 213, 25, 0.3);
  width: 500px;
  height: 650px;
  margin-left: 100px;
  margin-top: 30px;
  border-radius: 20px;
}

.login-form img {
  width: 300px;
  margin-top: 70px;
}

.login-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.login-form form input {
  text-align: start;
  width: 350px;
  padding: 10px;
  margin: 5px;
  border: none;
  background-color: rgb(246, 243, 243);
  border-radius: 20px;
  box-shadow: 3px 3px 5px gainsboro;
}

::placeholder {
  display: inline-block;
  padding-left: 10px;
}

.login-form form button {
  font-family: "poppins";
  font-size: large;
  background-color: #6c63ff;
  border-style: none;
  border-radius: 10px;
  padding: 5px;
  color: white;
  width: 200px;
  margin-top: 30px;
  box-shadow: 2px 3px 5px rgb(173, 172, 172);
}

.login-form form button:hover {
  cursor: pointer;
}

.login-form form p {
  font-family: "poppins";
  font-size: small;
  margin-top: -6px;
}

.login-form form a {
  color: red;
  margin-left: 4px;
  font-size: 14px;
  text-decoration: none;
}

.slogan {
  position: absolute;
  text-align: center;
  width: 40%;
  right: 20px;
  color: rgb(4, 8, 49);
  font-family: "poppins";
  z-index: 1;
}

.slogan h2 {
  font-size: x-large;
  margin-bottom: 15px;
}

.logo {
  position: absolute;
  width: 250px;
  bottom: 10px;
  right: 120px;
  z-index: 1;
}

.logo img {
  width: 200px;
}

.token-notice {
  color: red;
  font-family: sans-serif;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .zigzag-right {
    display: none;
  }

  .login-form {
    margin-left: 15px;
    height: 550px;
    margin-top: 100px;
    width: 350px;
  }

  .login-form img {
    margin-top: 100px;
  }

  .login-form form input {
    width: 280px;
  }

  .slogan {
    right: 0;
    top: 110px;
    margin-right: 0;
    text-align: center;
    width: 100%;
    height: 70px;
  }

  .slogan h2 {
    font-size: large;
    font-weight: normal;
    margin-bottom: -5px;
  }

  .slogan p {
    font-size: x-small;
  }

  .logo {
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: rgba(255, 213, 25, 0.764);
  }

  .logo img {
    width: 150px;
    margin-top: 14px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  ...;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  ...;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  ...;
}
