#month {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: "poppins";
  margin: 10px 2px;
}

#month select,
#month input {
  padding: 15px;
  border: none;
  border-radius: 12px;
}
